* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  height: 52px;
  background-color: #555;
}

.link > a:first-child{
  border-left: 1px solid #060606;
}

.link > a{
  color: white;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  height: 52px;
  border-right: 1px solid #060606;
}

.link {
  display: inline-block;
  margin-left: 60px;
}

.etc {
  display: inline-block;
  float: right;
  margin-right: 300px;
  max-height: 52px;
  font-size: 27px;
  margin right: 300px;
  line-height: 50px;
}

.etc > li {
  display: inline-block;
  margin-right: 10px;
}

.symbol {
  color: gray;
}

.symbol:hover{
  color: white;
}
