* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: 'pubg';
  src: url("../font/Battleground.ttf");
}

body {
  font-family: 'Arial', SimSun, sans-serif, 'Apple SD Gothic Neo';
  font-size: 12px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

header {
  height: 52px;
  color: #555;
  background: url(https://d1wfiv6sf8d64f.cloudfront.net/static/pc/img/bg_header.gif) center 0;
}

.link > a:first-child{
  border-left: 1px solid #060606;
}

.link > a{
  color: #a8a8a8;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  height: 52px;
  width: 102px;
  border-right: 1px solid #060606;
  font-size: 12px;
}

.link {
  background: url(https://d1wfiv6sf8d64f.cloudfront.net/static/pc/img/bg_header2.gif) center 0;
  float: left;
  display: inline-block;
  margin-left: 35px;
}

.etc {
  width: 250px;
  display: inline-block;
  float: right;
  max-height: 52px;
  font-size: 23px;
  line-height: 50px;
}

.etc > li {
  display: inline-block;
  margin-left: 12px;
  text-shadow: 1px 1px 2px black;
}

.symbol {
  color: #555;
}

.symbol:hover{
  color: white;
}

.flag {
  line-height: 52px;
  float: right;
  display: inline-block;
  margin-right: 30px;
  font-size: 12px;
  pointer-events: all;
}

.flag_main {
  height: 51px;
  width: 200px;
  color: white;
  border-left: 1px solid #060606;
  border-right: 1px solid #060606;
  cursor : pointer;
}

.flag:hover .flag_list, .flag:hover .flag_selected {
  display : block;
}

.flag:hover .arrow {
  transform: rotate(180deg);
}

.flag_list,.flag_selected {
    background: url(https://d1wfiv6sf8d64f.cloudfront.net/static/pc/img/bg_header2.gif) center 0;
    cursor: pointer;
    z-index: 999999;
    position: relative;

}
#flag_lists {
  position: absolute;
  right: 30px;
}

.flag_selected {
  color: #f19f00;
}

.flag_list:hover {
  color: white;
}

.background_video {
   width : 640px;
   height : 360px;
}

.flag_img {
  height: 11px;
  width: 16px;
  display: inline-block;
  padding:0 10px;
}

.flag_list,.flag_selected{
  height: 40px;
  width: 165px;
  display : none;
}

.flag_main > .arrow {
  margin-left: 5px;
  color: #7f141d;
  padding: 0 7px;
  padding-top : 2px;
  padding-bottom : 5px;
  background-color: #212121;
}

#test { width: 1519.200px; height: 858.338px; z-index: -2 !important; position: absolute;}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;

  }
}

#test > img {
  opacity: 0;
  animation: fadeOut 3s;
  animation-iteration-count: 1;
}

#test > .background_media {
  position: absolute;
  top: 0;
  z-index: -8888;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#content_header {
  /* background-color: orange; */
  width: 95%;
  height: 90px;
  /* margin: 0 2.5%; */
  left:50%;
  transform: translateX(-50%);
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#content_header > .logo {
  display: inline-block;
  background: url(../img/sp.png) no-repeat;
  width: 77px;
  height: 45px;
  margin: 20px;
}

.nav {
  height: 100%;
  display: inline-block;
  /* background-color: orange; */
}

.nav > ul > li > a {
  font-family: pubg;
  color: white;
  font-size: 25px;
}

.nav > ul > li > a:hover {
  color: #e59702;
}

.nav > ul > li {
  display: inline-block;
  float: left;
  margin: 0 17px;
  line-height: 90px;
}

#content_header > .buy_btn {
  color: white;
  font-family: pubg;
  line-height: 90px;
  height: 100%;
  background-color: #e69800;
  width: 13.5%;
  text-align: center;
  font-size: 40px;
  display: inline-block;
  float: right;
  z-index: -1;
  position: absolute;
  right: 0;
}

.title > img {
  width: 80%;
  height: 80%;
}

.title {
  display: inline-block;
  color: white;
  left: 36%;
  margin-top: 22.5%;
  transform: rotateX(-50%);
  position: relative;
}

.content_banner {
  display: inline-block;
  height: 150px;
  text-align: center;
  padding-top: 30px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 2.5%;
  margin-top: 10px;
}

.content_banner > img {
  width: 30%;
  cursor: pointer;
}

#mask_bottom {
  position: relative;
  bottom: -20px;
  background: url('../img/main_mask01.png') no-repeat;
  /* background-color: orange; */
  width: 100%;
  height: 100px;
  overflow-y: hidden;
  z-index: 300;
}

#news {
  padding: 40px 40px;
  background-color: #f1f1f1;
  width: 100%;
  height: 800px;
}

#news > .article {
  width: 65%;
  display: inline-block;
}

#news > .article > header, #news > .announce > header {
  background: none;
  color: #555;
  font-family: pubg;
  font-size : 55px;
  padding-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

#news > .article > header:hover {
  color: #d98500;
}

#news > .article > header > i {
  font-size: 30px;
}

#news > .article > ul {
  /* background-color: blue; */
  width: 100%;
  height: 390px;
}

#news > .article > ul > li {
  width: 48%;
  height: 100%;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
  background-color: white;
  cursor: pointer;
}

#news > .article > ul > li > img {
  width: 100%;
  height: 65%;
}


#news > .article > ul > li > .detail {
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-left: 30px;
  color: #686868;
  font-size: 14px;
}

.detail > h3 {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  line-height: 60px;
}

#news > .article > ul > li:hover > .detail > h3 {
  color: #d98500;
}
